[submodule "sh/oh-my-zsh/ohmyzsh"]
	path = sh/oh-my-zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "sh/oh-my-zsh/custom/plugins/autoupdate"]
	path = sh/oh-my-zsh/custom/plugins/autoupdate
	url = https://github.com/Dave4272-Office/autoupdate-oh-my-zsh-plugins
